@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --mu: calc(var(--height)/842);
    --width: calc(var(--height)*0.70665083135);
    --height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
}

.main {
    width: var(--width);
    height: var(--height);
    position: relative;
    overflow: hidden;
}
.main > * {
    position: absolute;
}

.main > span {
    color: #FFFFFF;
}

.main_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: calc(578*var(--mu));
    height: calc(149*var(--mu));
    left: calc(8*var(--mu));
    top: calc(16*var(--mu));
}

.logo_O {
    width: calc(122*var(--mu));
    height: calc(148*var(--mu));
    left: calc(115*var(--mu));
    top: calc(16*var(--mu));
}

.barcode {
    width: calc(41*var(--mu));
    height: calc(136*var(--mu));
    bottom: 0;
}

.year_edition {
    position: absolute;
    width: calc(41*var(--mu));
    height: calc(24*var(--mu));
    left: calc(12*var(--mu));
    top: calc(164*var(--mu));

    font-style: normal;
    font-weight: 400;
    font-size: calc(10*var(--mu));
    line-height: calc(12*var(--mu));

    color: #FFFFFF;
    transform-origin: left top;
    transform: rotate(-90deg);

}

.header1 {
    width: calc(128*var(--mu));
    height: calc(57*var(--mu));
    left: calc(445*var(--mu));
    top: calc(241*var(--mu));

    font-style: normal;
    font-weight: 300;
    font-size: calc(16*var(--mu));
    line-height: calc(19*var(--mu));

    text-align: left;
    vertical-align: top;
}

.header2 {
    width: calc(110*var(--mu));
    height: calc(48*var(--mu));
    left: calc(14*var(--mu));
    top: calc(373*var(--mu));

    font-weight: 400;
    font-size: calc(20*var(--mu));
    line-height: calc(24*var(--mu));
}

.header3 {
    width: calc(132*var(--mu));
    height: calc(76*var(--mu));
    left: calc(445*var(--mu));
    top: calc(644*var(--mu));

    font-weight: 600;
    font-size: calc(16*var(--mu));
    line-height: calc(19*var(--mu));
}

.qualities {
    white-space: pre-wrap;
}

#qualities_0 {
    overflow: hidden;
    width: calc(230*var(--mu));
    height: calc(168*var(--mu));
    left: calc(14*var(--mu));
    top: calc(181*var(--mu));

    font-weight: 800;
    font-size: calc(35*var(--mu));
    line-height: calc(42*var(--mu));

    text-align: left;
    text-wrap: avoid;

    color: white;
}

#qualities_1 {
    width: calc(359*var(--mu));
    height: calc(108*var(--mu));
    left: calc(218*var(--mu));
    top: calc(498*var(--mu));

    font-weight: 800;
    font-size: calc(30*var(--mu));
    line-height: calc(36*var(--mu));

    text-align: right;
    color: #FFFFFF;
}